*{
    margin:0;
    padding:0;

    font-family: "Karla", sans-serif;
    color:white;
}

.searchSection{

  width:20rem;
  position: relative;
    
}

#appLogo{
    transform: scale(5);
    /* border: 1px solid black; */
    height: 1.75rem;
    margin:10px auto ;
   
}
#search{
    position: relative;
    flex: 1;
    width:100%;
    height:2rem;
    margin-top: 2rem;
    padding-left:1rem;
    border-radius:5px;
    border:none;
    background-color: rgb(166, 170, 170);
    color:black;
}
#search:focus{
    border:none;
    outline: none;
}

body{
    background-color: white;
    overflow: auto;
}

body:focus{
outline: none;
}
nav{
display: flex;
flex-direction:row;
border-bottom: 2px solid var(--borderColor);
justify-content:flex-start;
box-shadow:0 0 12px black;
align-items: center;
}
.searchSection{
    position: realtive;
}
.results{
    position: absolute;
    top:100%;
    width: 100%;
    max-height:20rem;
    display:flex;
    flex-direction: column;
    overflow:auto;
    z-index:999;
    overflow:auto;
    border-radius:5px;
    background-color:rgb(27, 23, 23);
    box-shadow:0 0 10px rgb(0, 0, 0);
}
.SearchedUserInfo{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding:5px;
    align-items: center;
    border:2px solid var(--borderColor);
}
.searchedUserDetails{
    display: flex;
    flex-direction: row;
    height:2.5rem;
    align-items: center;
    gap:5px;
}
#searchedUserProfile{
    height:1.5rem;
    width:1.5rem;
    border-radius:50%;
}
#addFriend{
    width:5rem;
    height:1.75rem;
    color:rgb(238, 234, 234);
    border:none;
    border-radius:3px;
    box-shadow:0 0 10px black;
    background-color: rgb(25, 25, 158);
    cursor:pointer;
    transition: 0.25s;
}
#addFriend:hover{
    scale:1.05;
}
.sub_nav{
    width: 60vw;
    justify-content: center;
}
:root{
    --borderColor:rgb(31, 29, 29);
    --secondaryColor:rgba(52, 50, 50, 0.9);
    --primaryColor:rgb(44,43,43);
}
.wrapper{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction:column;
        background-color: rgb(46, 29, 29);
        overflow:hidden ;
    
}

#name{
  /* height:5rem; */
  padding-right:20rem;
  text-align: center;
  font-size: 30px;
  background: linear-gradient(to right,#101b57,#926596, #281b31);
  -webkit-background-clip: transparent;
  background-clip: text;
  color:transparent;

    
}

.userDetails{
    padding: 5px;
     width:8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.userDetails:hover{
    background-color:var(--secondaryColor);
    cursor:pointer;
}


.userDetails img{
    height:2rem;
    width:2rem;
    border-radius:50%;
        object-fit: cover;
}
.info{
    width:20rem;
    height: 2.5rem;
    display: flex;
    /* flex-shrink: 0; */
    justify-content: center;
        /* border:1px solid black; */
}
.access{
    width:10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
        /* border:1px solid rgb(182, 36, 36); */

} 
.info_list{
    /* border:1px solid rgb(192, 21, 21); */
width:20rem;
display: flex;
flex-direction: row;
justify-content: space-evenly;
gap:3rem;
}

.info_list a{
    padding-top: 8px;
    border-radius: 10px;
    display: inline-block;
    height:2rem;
    text-align: center;

    width:2.5rem;
   

}

.info_list a:hover{
    background-color: var(--secondaryColor);
    cursor: pointer;
}
.fa-solid{
    background:transparent ;
}

.info span a{
    text-decoration: none;
    color:white;
    font-size: 17px;
   
}

.posts{
    width:45rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    border-inline-start-color: var(--primaryColor);
    scrollbar-color: var(--primaryColor) var(--primaryColor);
    gap:10px;
 
 
    

}
.posts::-webkit-scrollbar{
    background-color: rgb(0, 0, 0);

}
 .post{
  
   border-top: 3px solid rgb(26, 25, 25);
       background-color:rgb(27, 23, 23);
       /* margin:5px; */
       border-radius:10px;
       box-shadow:0 5px 5px rgb(12, 12, 12);
   


 }
 .author_section{
    border-radius:10px;
   display: flex;
   flex-direction: column;
   padding-bottom:0.25rem;
       background-color:rgb(27, 23, 23);


 }
 .authorDetails{
  margin-top:5px;
   width:100%;
       background-color:rgb(27, 23, 23);
    height:3.5rem;
    display: flex;
    align-content: flex-start;
 }
 .authorDetails img{
    margin-left:5px;
    margin-top: 2px;
    width:3rem;
    height:3rem;
    border-radius: 50%;
    object-fit: cover;
 }
 #userName{
    background-color:rgb(27, 23, 23);
 text-align: center;
    height:2rem;
    margin-top:1rem;
    margin-left: 0.25rem;
    font-size:20px;
    font-weight:bolder;

 }

 #userCaption{
 margin-left: 5px;
     background-color:rgb(27, 23, 23);
 }

 #postImage{
    width:100%;
    background-position: center;
    
    max-height:30rem;
    object-fit:cover;
    display: block;
    margin: 10px auto;
 }

 .counts{
    display: flex;
    flex-direction: row;
    align-items: center;
    height:2rem;

 }

 .intraction{
    display:flex;
    flex-direction:row;
    margin: 2px 0 2px 0 0;
        border-radius:10px;
}

.like{
     border-bottom-left-radius: 10px;
    width:5rem;
    text-align: center;
    padding:0.25rem;
    border-bottom: none;
    height:1.75rem;
        background-color:rgb(27, 23, 23);
}
.like:hover{
   
    background-color: var(--secondaryColor);
    cursor:pointer;
}


#comment{
    border-bottom: none;
    width:100%;
    padding: 0.25rem;
    text-align: center;
    background-color:rgb(27, 23, 23);
    border-bottom-right-radius: 10px;
 
}
#comment:hover{
    
    background-color: var(--secondaryColor);
    cursor:pointer;
}

#likes{
    padding-left: 1.5rem;
    width:15rem;
    height: 100%;
    background-color:rgb(27, 23, 23);
}
#likes:hover{
    background-color: var(--secondaryColor);
    cursor:pointer;
}

#comments{
    background-color:rgb(27, 23, 23);
    height: 100%;
    padding-right:1.5rem;
    text-align: right;
    width: 100%;
}
#comments:hover{
    cursor:pointer;
    background-color: var(--secondaryColor);
}

.mainContent_wrapper{
  
    display: flex;
    flex-direction: row;
    overflow: hidden;

   

}
.leftSection{

    margin-left:10px;
    flex:1;
     

}

.rightSection{

    
    flex:1;
    
}


.comment_section{
    position: absolute;
    left:50%;
    top:50%;
    padding:5px;
    background-color: rgb(46, 29, 29);
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
     box-shadow:0 0 15px rgb(0, 0, 0);
    height:90%;
    width:36.5rem;
    border-radius:10px;
    z-index:999;

}
.userComments{
    display: flex;
    flex-direction: column;
   flex: 1;
    padding-top:10px;
    gap:15px;
    overflow: auto;
}

.addComment{
   width:100%;
   height: 3rem;
   background-color: var(--secondaryColor);
}
#myComment{
    width:30rem;
    height:2rem;
    
    padding-left:5px;
    border-radius:5px;
    font-size:15px;
    border:1px solid rgb(78, 76, 76);
    background-color: rgb(27, 26, 26);

}
#myComment:focus{
outline: none;

}
#doneComment{
    width:5rem;
    height:2.25rem;
    padding:2px;
    border-radius:5px;
    background-color: var(--secondaryColor);

}
#doneComment:hover{
    cursor: pointer;
    background-color: rgb(173, 151, 151);
    color:black;
}


.blur{
    filter:blur(1px);
}


.friends{
    background-color:rgb(27, 23, 23);
    position: absolute;
    top:50%;
    transform: translate(0%,-50%);
    height:30rem;
    margin-top:2.40rem;
    width:19rem;
    display: flex;
    flex-direction: column;
    padding:10px;
    border-radius:5px;
    text-align: center;
    overflow: auto;
    box-shadow:0 0 10px rgb(0, 0, 0);

   
}
.friends h1{
    margin-bottom:1.5rem;
    border-bottom: 2px solid var(--borderColor);
    color:grey;
    
}
.friendsDetails,.searchList{
    background-color:var(--secondaryColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    margin-bottom:2rem;
    border-radius:3px;
    box-shadow:0 0 20px rgb(15, 14, 14);
}
.friendInfo {
    display: flex;
    width:10rem;
    gap:10px;
    align-items: center;
}



.friendInfo img{
    height: 2rem;
    width:2rem;
    background-position: center;
    background-size: cover;
    border-radius:50%;
    cursor: pointer;
    object-fit: cover;

}
.myResponse{
    width:8rem;
    display: flex;
   justify-content: space-between;
}
.requestAccept, .requestReject{
    background-color: rgb(42, 42, 42);
    width:2.5rem;
    height:2.5rem;
    border:none;
    font-size:13px;
    font-weight: bolder;
     cursor: pointer;
     box-shadow:0 5px 10px rgb(19, 18, 18);
}

.hidden{
    display: none;
}
#sendRequest{
    color:black;
}

.createPostSection{
 position: absolute;
 left:50%;
 transform: translateX(-50%);
 display: flex;
 flex-direction: column;
 gap:0.25rem;

}

#postFile{
    display:none;
}

#createPost{
    background-color:rgb(32, 29, 29) ;
    box-shadow: 0 0 10px black;
    font-size:25px;
    height: 3rem;
    width:3rem;
    border-radius:50%;
    border:none;
    transition: 0.2s;
}
#createPost:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#uploadButton{
    width:100%;
    flex:1;
    background-color: blue;
}
.previewDiv img{
    height: 18rem;
    width: 100%;
}
.previewDiv{
    height: 20rem;
    background-color: rgb(12, 11, 11);
    width:30rem;
    padding: 10px;
    border-radius: 10px;;

}

.liked{
    color:rgb(62, 62, 167);
    font-weight: bolder;
    box-shadow: 0 0 5px rgb(131, 101, 201);

    transition: 0.65s;
}
.wrapper_div{
     display: flex;
     flex-direction: column;
     justify-content: center;
     background-color: var(--primaryColor);
}
.commentAuthor_div{
    height:2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--borderColor);
    gap:7px;
    padding: 5px 0px 10px 10px;
 
}
.author_img{
    height:2rem;
    width: 2rem;
    border-radius:50%;
}
.author_name{

    justify-content: center;
    display: inline-block;
    /* height: 2rem; */
    width: 10rem;
    /* margin-top:5px; */
    font-size: 12px;
}
.author_comment{
    background-color: var(--secondaryColor);
    padding: 10px;
    border-radius:5px;

   
}

