*{
    margin:0;
    padding:0;
}

.wrapper{
    background-image : linear-gradient(45deg,rgb(187, 178, 178),black);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loader{
    width:2.5rem;
    height:2.5rem;
    border: 3px solid black;
    border-radius:50%;
    border-top: none;
    border-left: none;
    animation: spin 0.8s linear infinite;


}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

